- if article.featured_image.present?
  = link_to "/articles/#{article.slug}" do
    = image_tag article.featured_image.file.width(800).height(300).fit("crop").crop("faces").format('pjpg').to_url, class: "article-box__image"
