.article-box
  +vertical-padding(2)
  a
    text-decoration: none

.article-box__meta
  +sans-font-family
  +font-size(smallprint)
  display: flex
  align-items: center
  justify-content: space-between
  +margin-bottom(1)
  font-weight: bold

.article-box__title
  +margin-bottom(2)
  +heading-font-family
  +font-size(beta)

.article-box__image
  +vertical-margin(1)

.article-box__footer
  +vertical-padding(2)
